.section-info{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    background-color: #999;
    color: #fff;
    border-radius: 10px;
}
.section-info span{
    padding-left: 10px;
}

/* ----- icons */
.ic{
    position: absolute;
    font-size: 20px;
    top: 14px;
    right: 15px;
    color: $text-d;
    user-select: none;
}

/* ----- box */
.jf-box{
    padding: 10px;
    border: $border;
    border-radius: $border-radius;
    height: 100%;
}
.form-max-width{
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
}

/* ----- buttons */
.jf-button{
    padding: 10px 45px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    font-weight: 500;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    font-size: 18px;
    background-color: $primary-color !important;
    color: $text-l-hover;
    margin-right: auto;
    margin-left: auto;
}
.jf-button:hover{
    background-color: $primary-color-hover !important;
    transition: background-color 200ms;
}

/* ----- forms */
.text{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding: 0 12px;
    border-radius: $border-radius;
    height: 42px;
    line-height: 40px;
    border: $border;
    margin-bottom: 15px;
    text-align: right;
    font-size: 16px !important;
}
textarea{
    resize: none;
    padding: 12px;
    margin-bottom: 15px;
    border: $border;
    border-radius: $border-radius;
    width: 100%;
    height: 150px !important;
    font-family: Vazir;
    font-size: 16px;
}
select{
    width: 100%;
    padding: 10px;
    border-radius: $border-radius;
}