.section-info{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    background-color: #999;
    color: #fff;
    border-radius: 10px;
}
.section-info span{
    padding-left: 10px;
}

/* ----- icons */
.ic{
    position: absolute;
    font-size: 20px;
    top: 14px;
    right: 15px;
    color: $text-d;
    user-select: none;
}