// ! general
.active-none {
    display: none !important;
}
.active-block {
    display: block !important;
}

.accordion-block {
    .accordion-item-title {
        display: flex;
        width: 100%;
        padding: 5px 10px;
        cursor: pointer;
        justify-content: flex-start;
        align-items: center;
        border-bottom: $border;
        :nth-child(1) {
            font-size: 24px;
        }
        :nth-child(2) {
            margin-right: 10px;
        }
    }
    .accordion-item-block {
        display: none;
        position: relative;
        padding: 10px;
    }
}