// ! usigng _card.scss

// ! charts
.income-chart {
    height: 350px;
}
.tech-chart, .project-chart {
    min-height: 250px;
    max-height: 250px;
}

// ! activities
.activities ul {
    margin-top: 10px;
    padding: 5px 1px;
    li {
        margin-bottom: 5px;
        &:nth-child(even) {
            background-color: $bg-l;
        }
    }
    .activities-date {
        color: $text-d-mute;
        font-size: 12px;
    }
}

// ! table
#contracts {
    width: 100%;
    overflow-x: auto;
    border-spacing: 0px;
    tr {
        &:nth-child(even) {
            background-color: $bg-l;
        }
        &:hover {
            background-color: $bg-l;
        }
    }
    th, td {
        padding: 5px 0px;
        text-align: right;
    }
    th {
        margin-bottom: 10px;
        border-bottom: $border;
    }
}