.cn-table {
  width: 100%;
  overflow-x: auto;
  border-spacing: 0px;
  th, td {
    padding: 7px 0px;
    text-align: right;
  }
  th {
    margin-bottom: 10px;
    border-bottom: $border;
  }
  .cn-table-action {
    span:nth-child(1),
    span:nth-child(2) {
      font-size: 14px;
      cursor: pointer;
    }
    span:nth-child(1) {
      margin-right: auto;
      &:hover {
        color: $error-color;
      }
    }
    span:nth-child(2) {
      margin-right: 10px;
    }
  }
}

// ! table stripe
.cn-table-stripe {
  tr {
    &:nth-child(even) {
      background-color: $bg-l;
    }
    &:hover {
      background-color: $bg-l;
    }
  }
}
// ! table border
.cn-table-border {
  td {
    border-bottom: $border;
  }
  tr {
    &:hover {
      background-color: $bg-l;
    }
  }
}
// ! label
.cn-table-label {
  font-size: 14px;
  padding: 0px 10px;
  border-radius: 5px;
  min-width: 90px;
}
.cn-table-label--done {
  background-color: $success-color;
  color: $text-l;
}
.cn-table-label--doing {
  background-color: $info-color;
  color: $text-l;
}
.cn-table-label--delete {
  background-color: $error-color;
  color: $text-l;
}

// ! pagination
.pagination-block{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  .pagination-item{
    min-width: 40px;
    height: 40px;
    background-color: $bg-l-hover;
    border: $border;
    border-radius: $border-radius;
    margin: 0px 10px;
    text-align: center;
    padding-top: 7px;
    &:hover{
      background-color: $bg-l;
    }
  }
}