// ! font face
@font-face{
    font-family: Vazir;
    src: url('fonts/Vazir.woff2') format('woff2');
    font-weight: normal;
}

// ! rebot
*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Vazir;
}
body, html{
    direction: rtl;
}
body{
    background-color: #F5F7F9;
    color: $text-d;
}
a, a:active, a:focus, a:visited{
    text-decoration: none;
    color: $text-d;
}
ul li{
    list-style: none;
}
a, span{
    display: inline-block;
}
hr{
    border: none;
    border-bottom: 1px solid #ddd;
    margin-top: 3px;
    margin-bottom: 5px;
}