.setting__title{
  text-align: center;
}
.setting__profile-img{
  width: 100%;
  img{
    display: block;
    width: 150px;
    height: 150px;
    margin: 20px auto;
    border-radius: $border-radius;
  }
}