.right-side-inner {
    ul a {
        display: block;
        width: 100%;
        li{
            position: relative;
            font-size: 13px;
            font-weight: 500;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            .fas {
                margin-left: 15px;
            }
        }
        &:hover{
            background-color: $bg-l;
        }
    }
    ul a.is-active {
        background-color: $bg-l;
        border-left: 5px solid $primary-color;
    }
}

// ! profile
.profile-block{
    width: 140px;
    height: auto;
    margin: 20px auto;
    border-radius: 50%;

    .profile__img{
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
            border-radius: $border-radius;
            &:hover{
                filter: contrast(120%);
            }
        }
    }
    .profile__name{
        margin-top: 10px;
        font-size: 16px;
        font-weight: bold;
        width: 100%;
        text-align: center;
    }
    .profile__skill{
        font-size: 14px;
        display: block;
        margin-right: auto;
        width: 100%;
        text-align: center;
    }
}

// ! copy right
.copy-right{
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 10px 0;
    font-size: 12px;
    background-color: $text-l-hover;
}

// ! *****
// ! if is active
// ! *****
.sidebar-none-active {
    width: 60px;
}
.right-side.sidebar-none-active .profile-block {
    margin: 20px auto;
    width: 40px;
    height: 40px;
    .profile__name,
    .profile__skill {
        display: none;
    }
}
.right-side.sidebar-none-active ul li span:not(.fas) {
    display: none;
}
.right-side.sidebar-none-active .copy-right {
    display: none;
}