body {
    display: flex;
    // width: 100;
}

.right-side{
    position: relative;
    width: 250px;
    height: auto;
    overflow-y: auto;
    .right-side-inner {
        width: inherit;
        // border-radius: 20px 0 0 20px;
        box-shadow: -5px 0px 5px #f5f5f5;
        max-width: inherit;
        height: 100vh;
        background-color: #FFF;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        // z-index: 999;
    }
}

.left-side{
    width: calc(100% - 250px);
    display: flex;
    flex-direction: column;
    min-height: 120vh;
}
.left-side-active {
    width: calc(100% - 60px);
}