$primary-color: #FF8552;
$primary-color-hover: #fa682a;
$secondary-color: #297373;
$secondary-color-hover: #256666;
$success-color: #02a533;
$error-color: #f00;
$text-l: #f5f5f5;
$text-l-hover: #fff;
$text-d: #555;
$text-d-hover: #333;
$bg-l: #f9f9f9;
$bg-l-hover: #fff;
$bg-d: #555;
$bg-d-hover: #333;
$border: 1px solid #ccc;
$border-radius: 10px;
$shadow: 0px 2px 3px #ccc;